.box-modal.modal
  .modal__title ЗАКАЗАТЬ ЗВОНОК
  .modal__text Если у вас возникли вопросы или вы хотите сделать заказ, оставьте свои контакты ниже, мы перезвоним в течение дня.
  .modal__form
    form(action="json/form-success.json")
      .input.modal__form-input
        .input__error
        input(type="text", name="name")
        .input__placeholder Имя
      .input.modal__form-input
        .input__error
        input(type="phone", name="phone")
        .input__placeholder Номер телефона 
      .input.modal__form-textarea
        .input__error
        textarea(type="text", name="comment", rows="4")
        .input__placeholder Что хотите обсудить? (Не обязательно)      
      button.modal__form-button Подтвердить
      .modal__form-button.arcticmodal-close Отмена
