.box-modal.modal
  .modal__close.arcticmodal-close
  .modal__img
    img(src="img/photo.png")
  .modal__content
    .modal__content-subtitle Ris Ris
    .modal__content-title ChestBurster
    a.modal__content-share(href="#")
      img(src="img/share.png" alt="")
    p
      | Скачайте бесплатное приложение AR Line в App Store или Google Play 2) Нажмите “Сканировать” и наведите камеру смартфона на изображение
    .modal__content-download
      .modal__content-download-title Скачать приложение ARLook	
      a.modal__content-download-button(href="#")
        img(src="img/googleplay.png")
        | Скачать в #[br]Google Play
      a.modal__content-download-button(href="#")
        img(src="img/applelogo.png")
        | Скачать в #[br]App Store
    .modal__content-make
      .modal__content-make-title Создайте свою дополненную реальность!
      a.modal__content-make-button(href="") Создать
