@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.page404 {
  padding-top: 150px;
  text-align: center;
  min-height: calc(100vh - 332px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page404__title {
  font-size: 150px;
  line-height: 160px;
  font-weight: bold;
}
.page404__subtitle {
  font-size: 18px;
  line-height: 60px;
  color: #c0bfc5;
}
