@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.footer {
  color: #0d0d0d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/blackline.png");
  background-position: center;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding-bottom: 65px;
    padding-top: 125px;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    padding-bottom: 16px;
    padding-top: 62px;
  }
}
.footer:after {
  content: '';
  width: 100%;
  clear: both;
  display: block;
  float: none;
  height: 0px;
  position: relative;
}
.footer a:hover {
  text-decoration: none;
}
.footer__logo {
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .footer__logo {
    max-width: 218px;
  }
}
@media only screen and (max-width: 767px) {
  .footer__logo {
    max-width: 146px;
  }
}
.footer__logo img {
  width: 100%;
}
.footer__menu {
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media only screen and (min-width: 768px) {
  .footer__menu {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .footer__menu {
    margin-top: 35px;
  }
}
.footer__menu-item {
  color: #0d0d0d;
  vertical-align: top;
  text-transform: uppercase;
}
@media only screen and (min-width: 1024px) {
  .footer__menu-item {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__menu-item {
    display: inline-block;
    font-size: 19px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .footer__menu-item {
    display: block;
    font-size: 13px;
    line-height: 21px;
  }
}
.footer__menu-item a {
  color: #fff;
}
.footer__menu-item a:hover {
  color: #c3d82e;
}
.footer__info {
  display: block;
  text-align: center;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .footer__info {
    font-size: 17px;
    line-height: 18px;
    margin-top: 110px;
  }
}
@media only screen and (max-width: 767px) {
  .footer__info {
    font-size: 12px;
    line-height: 12px;
    margin-top: 22px;
  }
}
