@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.main {
  position: relative;
  overflow: hidden;
}
.main:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  z-index: 3;
}
@media only screen and (min-width: 1024px) {
  .main:before {
    right: calc(50% + 277px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main:before {
    right: 77%;
  }
}
@media only screen and (min-width: 768px) {
  .main:before {
    width: 751px;
    height: 1135px;
    background-image: url("../img/mainbg1.png");
    background-size: 751px 1135px;
  }
}
@media only screen and (max-width: 767px) {
  .main:before {
    left: 0;
    width: 144px;
    height: 707px;
    background-image: url("../img/mainbg1_m.png");
    background-size: 144px 707px;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 768px) and (min-resolution: 2dppx), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main:before {
    background-image: url("../img/mainbg1@2x.png");
  }
}
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2/1), only screen and (max-width: 767px) and (min-resolution: 2dppx), only screen and (max-width: 767px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .main:before {
    background-image: url("../img/mainbg1_m@2x.png");
  }
}
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3), only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 3/1), only screen and (max-width: 767px) and (min-resolution: 3dppx), only screen and (max-width: 767px) and (min--moz-device-pixel-ratio: 3), only screen and (max-width: 767px) and (min-resolution: 288dpi) {
  .main:before {
    background-image: url("../img/mainbg1_m@3x.png");
  }
}
.main:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
}
@media only screen and (min-width: 1024px) {
  .main:after {
    left: calc(50% + 288px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main:after {
    left: 78.15%;
  }
}
@media only screen and (min-width: 768px) {
  .main:after {
    width: 748px;
    height: 1235px;
    background-image: url("../img/mainbg2.png");
    background-size: 748px 1235px;
  }
}
@media only screen and (max-width: 767px) {
  .main:after {
    right: 0;
    width: 164px;
    height: 683px;
    background-image: url("../img/mainbg2_m.png");
    background-size: 164px 683px;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 768px) and (min-resolution: 2dppx), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main:after {
    background-image: url("../img/mainbg2@2x.png");
  }
}
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2/1), only screen and (max-width: 767px) and (min-resolution: 2dppx), only screen and (max-width: 767px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .main:after {
    background-image: url("../img/mainbg2_m@2x.png");
  }
}
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3), only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 3/1), only screen and (max-width: 767px) and (min-resolution: 3dppx), only screen and (max-width: 767px) and (min--moz-device-pixel-ratio: 3), only screen and (max-width: 767px) and (min-resolution: 288dpi) {
  .main:after {
    background-image: url("../img/mainbg2_m@3x.png");
  }
}
.main__top {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: visible;
  overflow-x: hidden;
  background: url("../img/blackline.png");
  background-position: center;
}
@media only screen and (min-width: 768px) {
  .main__top {
    padding-top: 222px;
  }
}
@media only screen and (max-width: 767px) {
  .main__top {
    padding-top: 144px;
  }
}
.main__top-blackbox {
  width: 100%;
  background: #0d0d0d;
  height: 270px;
  margin-top: -219px;
}
@media only screen and (min-width: 768px) {
  .main__top-blackbox {
    height: 270px;
    margin-top: -219px;
  }
}
@media only screen and (max-width: 767px) {
  .main__top-blackbox {
    display: none;
  }
}
.main__top-title {
  position: absolute;
  top: 40px;
  color: #c3d82e;
  font-family: 'Bad Script', Arial, sans-serif;
  font-size: 30px;
  right: calc(50% + 200px);
  -webkit-transform: skew(-20deg, 20deg);
      -ms-transform: skew(-20deg, 20deg);
          transform: skew(-20deg, 20deg);
}
.main__top-slider {
  z-index: 5;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .main__top-slider {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .main__top-slider {
    width: calc(100% + 100px);
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 600px;
  }
}
.main__top-slider:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../img/handcraft.png");
}
@media only screen and (min-width: 1024px) {
  .main__top-slider:before {
    right: calc(50% + 208px);
    top: 69px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__top-slider:before {
    right: 71.64%;
    top: 7.18%;
  }
}
@media only screen and (min-width: 768px) {
  .main__top-slider:before {
    width: 122px;
    height: 91px;
    background-size: 122px 91px;
  }
}
@media only screen and (max-width: 767px) {
  .main__top-slider:before {
    right: 0;
    top: -19px;
    margin: 0 auto;
    left: 0;
    -webkit-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 74px;
    height: 54px;
    background-size: 74px 54px;
  }
}
.main__top-slider .swiper-slide {
  max-width: 100%;
}
.main__top-slider .swiper-slide img {
  max-width: 100%;
}
.main__top-slider .swiper-button-prev {
  background-image: url("../img/arrow-left.png");
  left: auto;
  outline: none;
}
@media only screen and (min-width: 1024px) {
  .main__top-slider .swiper-button-prev {
    right: calc(50% + 450px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__top-slider .swiper-button-prev {
    right: 96.5%;
  }
}
@media only screen and (min-width: 768px) {
  .main__top-slider .swiper-button-prev {
    width: 56px;
    height: 132px;
    background-size: 56px 132px;
    margin-top: -66px;
  }
}
@media only screen and (max-width: 767px) {
  .main__top-slider .swiper-button-prev {
    left: 50px;
    width: 32px;
    height: 75px;
    background-size: 32px 75px;
    margin-top: -37.5px;
  }
}
.main__top-slider .swiper-button-next {
  background-image: url("../img/arrow-right.png");
  right: auto;
  outline: none;
}
@media only screen and (min-width: 1024px) {
  .main__top-slider .swiper-button-next {
    left: calc(50% + 450px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__top-slider .swiper-button-next {
    left: 96.5%;
  }
}
@media only screen and (min-width: 768px) {
  .main__top-slider .swiper-button-next {
    width: 56px;
    height: 132px;
    background-size: 56px 132px;
    margin-top: -66px;
  }
}
@media only screen and (max-width: 767px) {
  .main__top-slider .swiper-button-next {
    right: 50px;
    width: 32px;
    height: 75px;
    background-size: 32px 75px;
    margin-top: -37.5px;
  }
}
.main__remember {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .main__remember {
    padding-bottom: 135px;
  }
}
@media only screen and (max-width: 767px) {
  .main__remember {
    padding: 118px 20px 30px;
  }
}
.main__remember-title {
  font-family: 'Bad Script', Arial, sans-serif;
  letter-spacing: -1.6px;
  word-spacing: 5px;
  -webkit-transform: scaleX(1.2);
      -ms-transform: scaleX(1.2);
          transform: scaleX(1.2);
}
@media only screen and (min-width: 768px) {
  .main__remember-title {
    font-size: 45px;
    line-height: 36px;
  }
}
@media only screen and (max-width: 767px) {
  .main__remember-title {
    font-size: 31px;
    line-height: 24px;
  }
}
.main__remember-subtitle {
  color: #c3d82e;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .main__remember-subtitle {
    font-size: 31.25px;
    line-height: 35px;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .main__remember-subtitle {
    font-size: 19.44px;
    line-height: 23px;
    margin-top: 28px;
  }
}
@media only screen and (min-width: 768px) {
  .main__remember-text {
    font-size: 27px;
    line-height: 31px;
  }
}
@media only screen and (max-width: 767px) {
  .main__remember-text {
    font-size: 18px;
    line-height: 18px;
  }
}
.main__remember-text p {
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .main__remember-text p {
    max-width: 740px;
    margin-top: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .main__remember-text p {
    margin-top: 18px;
    max-width: 500px;
  }
}
.main__remember-dumpling {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .main__remember-dumpling {
    padding-top: 150px;
  }
}
@media only screen and (max-width: 767px) {
  .main__remember-dumpling {
    padding-top: 50px;
  }
}
.main__remember-dumpling-img {
  margin: 0 auto;
  max-width: 593px;
}
@media only screen and (max-width: 767px) {
  .main__remember-dumpling-img {
    width: 256px;
  }
}
.main__remember-dumpling-img img {
  width: 100%;
}
.main__remember-dumpling-slider {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 768px) {
  .main__remember-dumpling-slider {
    width: 228px;
    bottom: 150px;
  }
}
@media only screen and (max-width: 767px) {
  .main__remember-dumpling-slider {
    width: 126px;
    bottom: 40px;
  }
}
.main__remember-dumpling-slider img {
  width: 100%;
}
.main__remember-dumpling-slider-dim1,
.main__remember-dumpling-slider-dim2,
.main__remember-dumpling-slider-dim3 {
  position: absolute;
  opacity: 1;
  bottom: 0;
  left: 0;
}
.main__remember-dumpling-slider-dim1 {
  opacity: 1;
}
.main__real {
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .main__real {
    background: url("../img/blackline.png");
    background-position: center;
  }
}
.main__real:after {
  content: '';
  display: table;
  clear: both;
}
.main__real .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (min-width: 1336px) {
  .main__real .container {
    padding: 142px 148px 110px 0;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1335px) {
  .main__real .container {
    padding: 142px 28px 110px 0;
    width: 1024px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__real .container {
    padding: 105px 10px 110px 0;
    width: 768px;
  }
}
@media only screen and (min-width: 768px) {
  .main__real .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media only screen and (max-width: 767px) {
  .main__real .container {
    padding: 0;
  }
}
.main__real-bg1 {
  position: absolute;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .main__real-bg1 {
    background: url("../img/realbg1.png");
    width: 288px;
    height: 773px;
    background-size: 288px 773px;
    top: 171px;
    right: calc(50% + 596px);
  }
}
@media only screen and (max-width: 767px) {
  .main__real-bg1 {
    background: url("../img/realbg1_m.png");
    width: 62px;
    height: 141px;
    background-size: 62px 141px;
    bottom: -11px;
    right: 9px;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 768px) and (min-resolution: 2dppx), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main__real-bg1 {
    background-image: url("../img/realbg1@2x.png");
  }
}
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2/1), only screen and (max-width: 767px) and (min-resolution: 2dppx), only screen and (max-width: 767px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .main__real-bg1 {
    background-image: url("../img/realbg1_m@2x.png");
  }
}
.main__real-bg2 {
  position: absolute;
  z-index: 1;
}
@media only screen and (min-width: 1086px) {
  .main__real-bg2 {
    left: calc(50% + 420px);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1085px) {
  .main__real-bg2 {
    left: calc(50% + 384px);
  }
}
@media only screen and (min-width: 1024px) {
  .main__real-bg2 {
    top: -103px;
    background: url("../img/realbg2.png");
    width: 608px;
    height: 1151px;
    background-size: 608px 1151px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__real-bg2 {
    left: calc(50% + 316px);
    background-image: url("../img/realbg2@2x.png");
    width: 433px;
    height: 820px;
    background-size: 433px 820px;
    top: -40px;
  }
}
@media only screen and (max-width: 767px) {
  .main__real-bg2 {
    top: -286px;
    background: url("../img/realbg2_m.png");
    width: 224px;
    height: 546px;
    background-size: 224px 546px;
    right: -131px;
  }
}
@media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1024px) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 1024px) and (min-resolution: 2dppx), only screen and (min-width: 1024px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .main__real-bg2 {
    background-image: url("../img/realbg2@2x.png");
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (max-width: 1023px) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 768px) and (max-width: 1023px) and (min-resolution: 2dppx), only screen and (min-width: 768px) and (max-width: 1023px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi) {
  .main__real-bg2 {
    background-image: url("../img/realbg2@2x.png");
  }
}
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2/1), only screen and (max-width: 767px) and (min-resolution: 2dppx), only screen and (max-width: 767px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .main__real-bg2 {
    background-image: url("../img/realbg2_m@2x.png");
  }
}
.main__real-text {
  z-index: 2;
}
@media only screen and (min-width: 1024px) {
  .main__real-text {
    max-width: 360px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__real-text {
    max-width: 255px;
  }
}
@media only screen and (max-width: 767px) {
  .main__real-text {
    position: relative;
    padding: 59px 83px 40px 47px;
    background: url("../img/blackline.png");
    background-position: center;
  }
}
.main__real-text-title {
  font-family: 'Bad Script', Arial, sans-serif;
  letter-spacing: -1.6px;
  word-spacing: 5px;
  -webkit-transform: scaleX(1.2);
      -ms-transform: scaleX(1.2);
          transform: scaleX(1.2);
  max-width: 100%;
}
@media only screen and (min-width: 1024px) {
  .main__real-text-title {
    font-size: 45px;
    line-height: 36px;
    margin-left: 32px;
    margin-bottom: 49px;
  }
}
@media only screen and (max-width: 1023px) {
  .main__real-text-title {
    font-size: 31px;
    line-height: 24px;
    margin-bottom: 32px;
    margin-left: 18px;
    width: 170px;
  }
}
@media only screen and (min-width: 1024px) {
  .main__real-text p {
    font-size: 27px;
    line-height: 31px;
  }
}
@media only screen and (max-width: 1023px) {
  .main__real-text p {
    font-size: 18px;
    line-height: 21px;
  }
}
.main__real-about {
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (min-width: 1024px) {
  .main__real-about {
    max-width: 360px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__real-about {
    max-width: 255px;
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .main__real-about {
    font-size: 27px;
    line-height: 31px;
    margin-top: 64px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 1023px) {
  .main__real-about {
    font-size: 18px;
    line-height: 21px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .main__real-about {
    position: relative;
    margin-top: 26px;
    padding: 0 83px 75px 47px;
  }
}
.main__real-about-title {
  color: #c3d82e;
  font-weight: 700;
}
.main__real-sticker {
  position: absolute;
  z-index: 3;
}
@media only screen and (min-width: 1024px) {
  .main__real-sticker {
    width: 152px;
    top: 117px;
    right: calc(50% - 48px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__real-sticker {
    width: 130px;
    top: 88px;
    right: calc(50% - 85px);
  }
}
@media only screen and (max-width: 767px) {
  .main__real-sticker {
    width: 84px;
    top: 51px;
    right: 38px;
  }
}
.main__real-sticker img {
  width: 100%;
}
.main__real-product {
  z-index: 2;
}
@media only screen and (min-width: 1136px) {
  .main__real-product {
    width: 980px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1135px) {
  .main__real-product {
    width: 900px;
  }
}
@media only screen and (min-width: 1024px) {
  .main__real-product {
    right: calc(50% - 195px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__real-product {
    width: 700px;
    right: calc(50% - 168px);
  }
}
@media only screen and (min-width: 768px) {
  .main__real-product {
    position: absolute;
    top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .main__real-product {
    position: relative;
    margin-top: -36px;
    left: -16px;
    width: 392px;
  }
}
.main__real-product img {
  width: 100%;
}
.main__separator {
  background-image: url("../img/bgseparator.png");
  background-size: 2048px;
  background-position: center;
  position: relative;
  z-index: 1;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .main__separator {
    background-image: url("../img/bgseparator@2x.jpg");
  }
}
@media only screen and (min-width: 768px) {
  .main__separator {
    height: 976px;
  }
}
@media only screen and (max-width: 767px) {
  .main__separator {
    height: 660px;
  }
}
@media only screen and (min-width: 1024px) {
  .main__separator {
    background-attachment: fixed;
  }
}
@media only screen and (max-width: 1023px) {
  .main__separator {
    background-attachment: scroll;
  }
}
