@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.products-card {
  position: relative;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
}
@media only screen and (min-width: 768px) {
  .products-card {
    text-align: center;
    padding-bottom: 200px;
  }
}
@media only screen and (max-width: 767px) {
  .products-card {
    padding-bottom: 90px;
  }
}
.products-card:before {
  content: '';
  width: 100%;
  display: block;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .products-card:before {
    height: 487px;
  }
}
@media only screen and (max-width: 767px) {
  .products-card:before {
    height: 260px;
  }
}
@media only screen and (min-width: 1024px) {
  .products-card .container {
    width: 1024px;
  }
}
@media only screen and (max-width: 767px) {
  .products-card .container {
    padding: 0 20px;
    width: calc(100% - 40px);
  }
}
.products-card__sticker {
  background-image: url("../img/products-card/sticker.png");
  position: absolute;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .products-card__sticker {
    width: 177px;
    height: 115px;
    padding: 29px 10px 10px;
    top: -50px;
  }
}
@media only screen and (min-width: 1024px) {
  .products-card__sticker {
    left: calc(50% + 262px);
  }
}
@media only screen and (max-width: 1023px) {
  .products-card__sticker {
    right: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .products-card__sticker {
    width: 118px;
    height: 77px;
    top: -24px;
    padding: 20px 10px 10px;
  }
}
.products-card__sticker:hover {
  -webkit-transform: rotate(13deg);
      -ms-transform: rotate(13deg);
          transform: rotate(13deg);
}
.products-card__sticker span {
  font-family: 'Bad Script', Arial, sans-serif;
  letter-spacing: -0.6px;
  word-spacing: 5px;
  -webkit-transform: scaleX(1.2) rotate(-16deg);
      -ms-transform: scaleX(1.2) rotate(-16deg);
          transform: scaleX(1.2) rotate(-16deg);
  color: #231f20;
  text-align: center;
  max-width: 122px;
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .products-card__sticker span {
    font-size: 24.6px;
    line-height: 27px;
  }
}
@media only screen and (max-width: 767px) {
  .products-card__sticker span {
    font-size: 16.4px;
    line-height: 18px;
  }
}
.products-card__text {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .products-card__text {
    padding-top: 100px;
    max-width: 500px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .products-card__text {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .products-card__text {
    padding-top: 45px;
  }
}
.products-card__text-title {
  text-transform: uppercase;
  color: #c3d82e;
}
@media only screen and (min-width: 768px) {
  .products-card__text-title {
    font-size: 42px;
    line-height: 42px;
  }
}
@media only screen and (max-width: 767px) {
  .products-card__text-title {
    font-size: 28px;
    line-height: 28px;
  }
}
.products-card__text-subtitle {
  color: #c3d82e;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .products-card__text-subtitle {
    font-size: 21px;
    line-height: 25px;
    padding-top: 26px;
  }
}
@media only screen and (max-width: 767px) {
  .products-card__text-subtitle {
    font-size: 16px;
    line-height: 18px;
    padding-top: 18px;
  }
}
.products-card__text p {
  color: #acacac;
}
@media only screen and (min-width: 768px) {
  .products-card__text p {
    font-size: 21px;
    line-height: 25px;
    padding-top: 26px;
  }
}
@media only screen and (max-width: 767px) {
  .products-card__text p {
    font-size: 16px;
    line-height: 18px;
    padding-top: 18px;
  }
}
.products-card__text p b {
  color: #fff;
  text-transform: uppercase;
}
.products-card__labels {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  line-height: 0;
  font-size: 0;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .products-card__labels {
    width: 510px;
    padding-top: 243px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .products-card__labels {
    width: 50%;
    padding-top: 243px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media only screen and (max-width: 767px) {
  .products-card__labels {
    padding-top: 45px;
  }
}
.products-card__labels-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
@media only screen and (min-width: 1024px) {
  .products-card__labels-item {
    padding: 0 25px;
    max-width: 108px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .products-card__labels-item {
    max-width: 108px;
  }
}
@media only screen and (max-width: 767px) {
  .products-card__labels-item {
    max-width: 85px;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .products-card__labels-item-img {
    height: 96px;
  }
}
@media only screen and (max-width: 767px) {
  .products-card__labels-item-img {
    height: 65px;
  }
  .products-card__labels-item-img img {
    width: 62px;
  }
}
@media only screen and (min-width: 768px) {
  .products-card__labels-item-title {
    font-size: 15px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .products-card__labels-item-title {
    font-size: 12px;
    line-height: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .products-card__img {
    position: absolute;
    top: 7px;
    right: calc(50% - 50px);
  }
}
@media only screen and (min-width: 921px) and (max-width: 1215px) {
  .products-card__img {
    right: calc(50% - 30px);
  }
  .products-card__img > img {
    width: 634px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 920px) {
  .products-card__img {
    top: 120px;
    right: calc(50% - 20px);
  }
  .products-card__img > img {
    width: 560px;
  }
}
@media only screen and (max-width: 767px) {
  .products-card__img {
    position: relative;
    margin-left: -31px;
    margin-top: 10px;
    width: 100%;
    min-width: 400px;
    max-width: 600px;
  }
  .products-card__img > img {
    width: 100%;
    min-width: 400px;
    max-width: 600px;
  }
}
.products-card__img-sticker {
  position: absolute;
}
@media only screen and (min-width: 1216px) {
  .products-card__img-sticker {
    top: 73px;
    right: 155px;
  }
}
@media only screen and (min-width: 921px) and (max-width: 1215px) {
  .products-card__img-sticker {
    top: 50px;
    right: 100px;
  }
}
@media only screen and (min-width: 921px) {
  .products-card__img-sticker img {
    width: 137px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 920px) {
  .products-card__img-sticker {
    top: 45px;
    right: 82px;
  }
  .products-card__img-sticker img {
    width: 110px;
  }
}
@media only screen and (max-width: 767px) {
  .products-card__img-sticker {
    top: 27px;
    right: 13%;
  }
  .products-card__img-sticker img {
    width: 92px;
  }
}
@media only screen and (min-width: 768px) {
  .products-card.-manti,
  .products-card.-cow,
  .products-card.-cowpig {
    text-align: right;
  }
  .products-card.-manti .products-card__text,
  .products-card.-cow .products-card__text,
  .products-card.-cowpig .products-card__text,
  .products-card.-manti .products-card__labels,
  .products-card.-cow .products-card__labels,
  .products-card.-cowpig .products-card__labels {
    display: block;
    margin-left: 50%;
    width: auto;
  }
  .products-card.-manti .products-card__text,
  .products-card.-cow .products-card__text,
  .products-card.-cowpig .products-card__text {
    padding-bottom: 25px;
    border-bottom: 1px solid #7e7e7e;
  }
  .products-card.-manti .products-card__labels,
  .products-card.-cow .products-card__labels,
  .products-card.-cowpig .products-card__labels {
    padding-top: 50px;
    text-align: left;
  }
  .products-card.-manti .products-card__labels-item:first-child,
  .products-card.-cow .products-card__labels-item:first-child,
  .products-card.-cowpig .products-card__labels-item:first-child {
    padding-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .products-card.-manti .products-card__labels-item,
  .products-card.-cow .products-card__labels-item,
  .products-card.-cowpig .products-card__labels-item {
    padding: 0 10px;
  }
}
.products-card.-hinkali:before {
  background-image: url("../img/products-card/hinkalibg.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .products-card.-hinkali:before {
    background-image: url("../img/products-card/hinkalibg@2x.jpg");
  }
}
.products-card.-cutlets:before {
  background-image: url("../img/products-card/cutletsbg.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .products-card.-cutlets:before {
    background-image: url("../img/products-card/cutletsbg@2x.jpg");
  }
}
.products-card.-manti:before {
  background-image: url("../img/products-card/mantibg.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .products-card.-manti:before {
    background-image: url("../img/products-card/mantibg@2x.jpg");
  }
}
.products-card.-cow:before {
  background-image: url("../img/products-card/cowbg.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .products-card.-cow:before {
    background-image: url("../img/products-card/cowbg@2x.jpg");
  }
}
.products-card.-cowpig:before {
  background-image: url("../img/products-card/cowpigbg.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .products-card.-cowpig:before {
    background-image: url("../img/products-card/cowpigbg@2x.jpg");
  }
}
.products-card.-meatballs:before {
  background-image: url("../img/products-card/meatballbg.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .products-card.-meatballs:before {
    background-image: url("../img/products-card/meatballbg@2x.jpg");
  }
}
.products-card.-curd:before {
  background-image: url("../img/products-card/curdbg.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .products-card.-curd:before {
    background-image: url("../img/products-card/curdbg@2x.jpg");
  }
}
.products-card.-cherry:before {
  background-image: url("../img/products-card/cherrybg.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .products-card.-cherry:before {
    background-image: url("../img/products-card/cherrybg@2x.jpg");
  }
}
