@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.topnav {
  display: block !important;
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .topnav {
    padding: 15px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .topnav {
    padding: 18px 0;
  }
}
.topnav__logo {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .topnav__logo {
    max-width: 363px;
    margin: 0 53px;
  }
}
@media only screen and (max-width: 767px) {
  .topnav__logo {
    max-width: 204px;
  }
}
.topnav__logo img {
  width: 100%;
}
.topnav__list {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .topnav__list {
    text-align: right;
  }
}
@media only screen and (max-width: 767px) {
  .topnav__list {
    top: 0;
    position: fixed;
    padding: 66px 0 28px;
    left: -100%;
    -webkit-transition: 150ms all;
    -o-transition: 150ms all;
    transition: 150ms all;
    width: 100%;
    text-align: center;
    background: #000;
  }
  .topnav__list:after {
    content: '';
    width: 100%;
    top: 100%;
    height: calc(100vh - 346px);
    position: absolute;
    background: #000;
    opacity: 0.5;
    display: block;
  }
}
.topnav__list:last-child {
  text-align: left;
}
.topnav__list-item {
  text-transform: uppercase;
  display: block;
}
@media only screen and (min-width: 768px) {
  .topnav__list-item {
    font-size: 18.75px;
    line-height: 17.71px;
    margin-top: 17.71px;
  }
}
@media only screen and (max-width: 767px) {
  .topnav__list-item {
    font-size: 17px;
    line-height: 42px;
  }
}
.topnav__list-item a {
  color: #fff;
}
.topnav__list-item a:hover {
  text-decoration: none;
  color: #c3d82e;
}
.topnav__burger {
  width: 38px;
  height: 39px;
  position: absolute;
  cursor: pointer;
  background: #0d0d0d;
  z-index: 7;
  vertical-align: middle;
  text-align: center;
  font-size: 0;
  line-height: 39px;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .topnav__burger {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .topnav__burger {
    display: inline-block;
    vertical-align: top;
  }
}
.topnav__burger img {
  width: 22px;
  height: 19px;
  vertical-align: middle;
  text-align: center;
}
.topnav__phone {
  position: absolute;
  background: #0d0d0d;
  color: #726f6f;
  text-align: left;
  top: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: 150ms all;
  -o-transition: 150ms all;
  transition: 150ms all;
}
@media only screen and (min-width: 1024px) {
  .topnav__phone {
    left: calc(50% + 328px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .topnav__phone {
    right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .topnav__phone {
    font-size: 16.67px;
    line-height: 16.67px;
    border-radius: 0 0 5px 5px;
    width: 143px;
    height: 44px;
  }
}
@media only screen and (max-width: 767px) {
  .topnav__phone {
    right: 0;
    font-size: 0;
    line-height: 0;
    width: 38px;
    height: 39px;
  }
}
.topnav__phone:hover,
.topnav__phone:active {
  text-decoration: none;
  color: #c3d82e;
}
.topnav__phone:hover:after,
.topnav__phone:active:after {
  background-image: url("../img/phone_green.png");
}
.topnav__phone:after {
  content: '';
  width: 23px;
  height: 28px;
  background-size: cover;
  position: absolute;
  background-image: url("../img/phone.png");
}
@media only screen and (min-width: 768px) {
  .topnav__phone:after {
    top: 9px;
    right: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .topnav__phone:after {
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    left: 50%;
  }
}
