extends /layout
include /header

block main
  .advantages
    .advantages__top
      .container
        .advantages__top-text
          .advantages__top-text-title Пельмени, #[br]приготовленные с душой
          .advantages__top-text-subtitle Традиции и технологии
          .advantages__top-text-content Чтобы сделать пельмени “Три Товарища”, мы изучили множество традиционных рецептов в поисках идеального вкуса, нашли лучшие отечественные ингредиенты и оборудовали производство по последнему слову техники.
        .advantages__top-dumpling
          .advantages__top-dumpling-img
            img(src="img/advantages/vilka.png")
          .main__remember-dumpling-slider
            .swiper-wrapper
              .swiper-slide 
                img(src="img/dim_1.png")
              .swiper-slide 
                img(src="img/dim_2.png")
              .swiper-slide 
                img(src="img/dim_3.png")
    .advantages__item.-first.-left
      .container
        .advantages__item-number 1
        .advantages__item-title  Пельмени ручной работы
        .advantages__item-text Сочетание технологий и человеческого труда позволяет нам сделать производство качественных пельменей массовым. Мы убеждены, что хорошие пельмени лепятся только вручную, поэтому производство фарша и теста полностью автоматизировали, а лепку доверили людям.
    .advantages__item.-second.-right
      .container
        .advantages__item-number 2
        .advantages__item-title  РАЗМЕР
        .advantages__item-text Пельмени “на зубок” не радуют ни глаз, ни желудок, а из-за тонкого теста развариваются прямо в кастрюле. Наши пельмени совсем не такие — они крупные, с большим количеством начинки и плотным слоем теста, которое не разваливается во время варки.
    .advantages__item.-third.-center
      .container
        .advantages__item-number 3
        .advantages__item-title  ШОКОВАЯ ЗАМОРОЗКА
        .advantages__item-text Этот дорогостоящий вид заморозки сохраняет все полезные свойства и вкус мяса. А еще такая технология помогает пельменям не слипаться и сохранять правильную форму.
    .advantages__item.-fourth.-left
      .container
        .advantages__item-number 4
        .advantages__item-title КОНТРОЛЬ
        .advantages__item-text Многоступенчатый контроль производства каждой партии позволяет поддерживать высокий уровень качества. Каждая упаковка нашей продукции соответствует стандартам “Трех Товарищей”.
    .advantages__item.-fiveth.-center
      .container
        .advantages__item-number 5
        .advantages__item-title ИНГРЕДИЕНТЫ
        .advantages__item-text У продуктов от “Трех Товарищей” абсолютно чистый состав. Такой, как если бы эти пельмени лепила ваша бабушка. Без консервантов, без добавок, только понятные и качественные ингредиенты.
      
