extends /layout
include /header

block main
  .main
    .main__top
      .container
        .main__top-slider
          .swiper-wrapper
            .swiper-slide 
              img(src="img/slider-2.png")
            .swiper-slide 
              img(src="img/slider-1.png")
            .swiper-slide 
              img(src="img/slider-3.png")
          .swiper-buttons
            .swiper-button-prev
            .swiper-button-next
      .main__top-blackbox
    .main__remember
      .container
        .main__remember-title Вкусно, как в детстве
        .main__remember-subtitle Настоящие домашние пельмени #[br]по традиционным рецептам 
        .main__remember-text
          p Помните пельмени, которые вы лепили всей семьей? #[br.hidden-below-m]
            | Вся кухня в муке, родные старательно вырезают кружки теста#[br.hidden-below-m]
            | гранеными стаканами, в большой эмалированной миске ждет начинка. 
          p А вечером — настоящий праздник. #[br]Надкусываешь тесто, выпиваешь обжигающий душистый бульон #[br.hidden-below-m]и макаешь горячий пельмень в прохладную сметану. Съесть бы его целиком, но он такой большой, что хватает на два-три укуса. #[br.hidden-below-m]Хорошие были времена. А пельмени какие были!
        .main__remember-dumpling
          .main__remember-dumpling-img
            img(src="img/pelmen.png")
          .main__remember-dumpling-slider
            .main__remember-dumpling-slider-dim1
              img(src="img/dim_1.png")
            .main__remember-dumpling-slider-dim3
              img(src="img/dim_3.png")
            .main__remember-dumpling-slider-dim2
              img(src="img/dim_2.png")
    .main__real
      .container
        .main__real-sticker
          img(src="img/sticker.png")
        .main__real-text
          .main__real-text-title Настоящие #[br]пельмени
          p Традиционные пельмени — это щедрый и сытный обед, который собирает всю семью за одним столом. Раньше их лепили ваши мамы и бабушки (или папы и дедушки), а теперь такие пельмени делаем мы.
          .main__real-bg1
        .main__real-product
          img(src="img/product.png")
        .main__real-about
          .main__real-about-title Пельмени “Три Товарища” #[br] 
            | сделаны с душой: 
          p только из натуральных ингредиентов, без добавок, красителей и ароматизаторов. #[br] 
            | Плотный слой теста не позволяет им развариваться, а внутри только свежее мясо, не разбавленное ничем, кроме щепотки специй и лука.
          .main__real-bg2
    .main__separator
      
