extends /layout
include /header

block main
  .insaid
    .insaid__top
      .container
        .insaid__top-sticker
          img(src="img/sticker.png")
        .insaid__top-text
          .insaid__top-text-title Что внутри?
          .insaid__top-text-subtitle Мы хотим, чтобы вы узнали вкус настоящих продуктов. Поэтому используем только натуральные ингредиенты. Никаких консервантов, красителей, усилителей вкуса.
          .insaid__top-text-content #[b Мясо — главный ингредиент]
            | Наши пельмени, манты и другие продукты сделаны из мяса высшей категории: сочной говядины, ароматной баранины, нежной свинины. Высокое качество подтверждено декларацией о соответствии Евразийского союза.
    .insaid__free
      .container
        .insaid__free-text
          .insaid__free-text-title Свободный выпас
          .insaid__free-text-content Животные пасутся в заповедной зоне “Черные земли” — это естественная среда обитания с мягким климатом. Степное разнотравье Прикаспийска позволяет коровам питаться максимально разнообразно. Благодаря круглогодичному свободному выпасу и прекрасному рациону мясо остается очень нежным и приобретает яркий вкус дичи.
        .insaid__free-flowers
          img(src="img/insaid/flowers.png")
        .insaid__free-map
          img(src="img/insaid/map.png")
    .insaid__item.-left
      .container
        .insaid__item-text
          .insaid__item-text-logo 
            img(src="img/insaid/cow.png")
          .insaid__item-text-title Сочное мраморное #[br]мясо калмыцких бычков
          .insaid__item-text-subtitle Калмыцкая порода коров выведена#[br]более 300 лет назад 
          .insaid__item-text-content 
            p Мраморное мясо ценится за сочность и насыщенность, а благодаря свободному выпасу становится еще вкуснее.
            p Калмыцкие коровы, пасущиеся в экологически чистых заповедных степях Прикаспийска, круглый год питаются травой — это гарантирует высокое качество мяса и непревзойденный вкус.
        .insaid__item-sticker
          img(src="img/sticker.png")
        .insaid__item-img
          img(src="img/insaid/cow_circle.png")
    .insaid__item.-right
      .container
        .insaid__item-text
          .insaid__item-text-logo 
            img(src="img/insaid/ship.png")
          .insaid__item-text-title Ароматное мясо#[br]калмыцких барашков
          .insaid__item-text-subtitle Вкус хорошей баранины невозможно #[br]спутать ни с чем 
          .insaid__item-text-content 
            p Особенно если это барашек, выращенный в экологически чистой зоне на свободном выпасе. Такое мясо сбалансировано по жирности, обладает ярким вкусом и кардинально отличается от баранины, которую можно найти на прилавках магазинов. Попробуйте наши манты и хинкали, чтобы оценить вкус настоящей баранины!
        .insaid__item-img
          img(src="img/insaid/ship_circle.png")
    .insaid__item.-left
      .container
        .insaid__item-text
          .insaid__item-text-logo 
            img(src="img/insaid/pig.png")
          .insaid__item-text-title Нежное мясо#[br]молодых поросят
          .insaid__item-text-subtitle Фермерское мясо от экспертов
          .insaid__item-text-content 
            p Свинину мы закупаем у фермерских хозяйств, которые специализируются на разведении свиней, обеспечивая животным грамотный уход. Мы сделали целую линейку продуктов со свининой и говядиной для ценителей нежного вкуса. Попробуйте наши пельмени, котлеты и тефтели!
        .insaid__item-img
          img(src="img/insaid/pig_circle.png")
    .insaid__item.-last
      .container
        .insaid__item-text
          .insaid__item-text-title Фермерские продукты
          .insaid__item-text-subtitle В нашем тесте всего пять ингредиентов: #[br]мука, молоко, вода, соль и перец. #[br]#[br.hidden-above-m]Только натуральные продукты.
          .insaid__item-text-content 
            p Кроме котлет и пельменей у нас есть еще и вареники — их мы тоже делаем по традиционным рецептам, большими и сытными. В начинке только натуральный фермерский творог из молока калмыцких коров и краснодарская вишня, сладкая и сочная.


