extends /layout
include /header

block main
  .insaid
    .insaid__top
      .container
        .insaid__top-text
          .insaid__top-text-title Что внутри?
          .insaid__top-text-subtitle Мы хотим, чтобы вы узнали вкус настоящих продуктов. Поэтому используем только натуральные ингредиенты. Никаких консервантов, красителей, усилителей вкуса.
          .insaid__top-text-content #[b Мясо — главный ингредиент]
            | Наши пельмени, манты и другие продукты сделаны из мяса высшей категории: сочной говядины, ароматной баранины, нежной свинины. Высокое качество подтверждено декларацией о соответствии Евразийского союза.
    .insaid__free
      .container
        .insaid__free-text
          .insaid__free-text-title Свободный выпас
          .insaid__free-text-content Животные пасутся в заповедной зоне “Черные земли” — это естественная среда обитания с мягким климатом. Степное разнотравье Прикаспийска позволяет коровам питаться максимально разнообразно. Благодаря круглогодичному свободному выпасу и прекрасному рациону мясо остается очень нежным и приобретает яркий вкус дичи.
        .insaid__free-flowers
          img(src="img/insaid/flowers.png")
        .insaid__free-map
          img(src="img/insaid/map.png")
