extends /layout

block main
  include /menu-products
  .products
    .container
      a.products__item(href="#")
        .products__item-img
          img(src="img/products/tvorog.png")
        .products__item-title Вареники #[br]с творогом
      a.products__item(href="#")
        .products__item-img
          img(src="img/products/vishnia.png")
        .products__item-title Вареники #[br]с вишней
