extends /layout

block main
  include /menu-products
  .products
    .container
      a.products__item(href="products-card-cutlets.html")
        .products__item-img
          img(src="img/products/kotleti.png")
        .products__item-title Котлеты #[br]Мясные
      a.products__item(href="products-card-meatball.html")
        .products__item-img
          img(src="img/products/tefteli.png")
        .products__item-title Тефтели #[br]мясные с рисом
