extends /layout

block main
  include /menu-products
  .products-card.-cowpig
    .container
      a.products-card__sticker(href="secrets.html#dump-cowpig") 
        span Секреты приготовления
      .products-card__text
        .products-card__text-title ПЕЛЬМЕНИ #[br]ГОВЯДИНА+СВИНИНА
        .products-card__text-subtitle Традиционные пельмени ручной работы из превосходной мраморной говядины и нежной фермерской свинины.
        p
          b СОСТАВ: #[br]
          | говядина, свинина, мука пшеничная, в/с, лук репчатый, яйцо куриное, соль пищевая, перец черный молотый.
        p
          b Пищевая ценность на 100 г продукта:#[br]
          | белки - 9,7 г, жиры - 16,0 г,  углеводы - 23,0 г,  энергетическая ценность - 274 кКал.
        p
          b Срок годности #[br]
          | полуфабрикатов в тесте в упакованном виде при температуре -10° - не более  1 месяца, при температуре  -18° - не более 3 месяцев.
      .products-card__img
        .products-card__img-sticker
          img(src="img/sticker.png")
        img(src="img/products-card/cowpig.png")
      .products-card__labels
        .products-card__labels-item
          .products-card__labels-item-img
            img(src="img/products-card/frozen.png")
          .products-card__labels-item-title ЗАМОРОЖЕННЫЙ ПРОДУКТ
        .products-card__labels-item
          .products-card__labels-item-img
            img(src="img/products-card/gmo.png")
          .products-card__labels-item-title НЕ СОДЕРЖИТ #[br]GMO
        .products-card__labels-item
          .products-card__labels-item-img
            img(src="img/products-card/hormones.png")
          .products-card__labels-item-title БЕЗ ПРИМЕНЕНИЯ ГОРМОНОВ


