extends /layout

block main
  include /menu-products
  .products-card.-hinkali
    .container
      a.products-card__sticker(href="secrets.html#hinkali") 
        span Секреты приготовления
      .products-card__text
        .products-card__text-title ХИНКАЛИ
        .products-card__text-subtitle Знаковое блюдо грузинской кухни:  два вида мяса и исключительно свежая зелень в начинке.
        p
          b СОСТАВ: #[br]
          | свинина, говядина, мука пшеничная в/с, лук репчатый, зелень свежая, яйцо куриное, соль, специи.
        p
          b Пищевая ценность на 100 г продукта:#[br]
          | белки не менее - 8,0 г, жиры не более - 14,0 г, углеводы не более - 25,0  г, энергетическая ценность - 258 кКал.
        p
          b Срок годности #[br]
          | полуфабрикатов в тесте в упакованном виде при температуре -10° - не более 1 месяца, при температуре  -18° - не более 3 месяцев.
      .products-card__labels
        .products-card__labels-item
          .products-card__labels-item-img
            img(src="img/products-card/frozen.png")
          .products-card__labels-item-title ЗАМОРОЖЕННЫЙ ПРОДУКТ
        .products-card__labels-item
          .products-card__labels-item-img
            img(src="img/products-card/gmo.png")
          .products-card__labels-item-title НЕ СОДЕРЖИТ #[br]GMO
        .products-card__labels-item
          .products-card__labels-item-img
            img(src="img/products-card/hormones.png")
          .products-card__labels-item-title БЕЗ ПРИМЕНЕНИЯ ГОРМОНОВ


