extends /layout

block main
  include /menu-products
  .products
    .container
      a.products__item(href="products-card-cowpig.html")
        .products__item-img
          img(src="img/products/cowpig.png")
        .products__item-title Пельмени #[br]говядина + свинина
      a.products__item(href="products-card-cow.html")
        .products__item-img
          img(src="img/products/cow.png")
        .products__item-title Пельмени #[br]говядина 
