extends /layout

block main
  include /menu-products
  .products
    .container
      a.products__item(href="products-card-hinkali.html")
        .products__item-img
          img(src="img/products/hinkali.png")
        .products__item-title Хинкали
