extends /layout

block main
  include /menu-products
  .products
    .container
      a.products__item(href="#")
        .products__item-img
          img(src="img/products/cowpig.png")
        .products__item-title Пельмени #[br]говядина + свинина
      a.products__item(href="#")
        .products__item-img
          img(src="img/products/cow.png")
        .products__item-title Пельмени #[br]говядина 
      a.products__item(href="#")
        .products__item-img
          img(src="img/products/manti.png")
        .products__item-title Манты #[br]из баранины
      a.products__item(href="#")
        .products__item-img
          img(src="img/products/hinkali.png")
        .products__item-title Хинкали
      a.products__item(href="#")
        .products__item-img
          img(src="img/products/kotleti.png")
        .products__item-title Котлеты #[br]Мясные
      a.products__item(href="#")
        .products__item-img
          img(src="img/products/tefteli.png")
        .products__item-title Тефтели #[br]мясные с рисом
      a.products__item(href="#")
        .products__item-img
          img(src="img/products/tvorog.png")
        .products__item-title Вареники #[br]с творогом
      a.products__item(href="#")
        .products__item-img
          img(src="img/products/vishnia.png")
        .products__item-title Вареники #[br]с вишней
