extends /layout

block main
  include /menu-products
  .products
    .container
      a.products__item(href="products-card-manti.html")
        .products__item-img
          img(src="img/products/manti.png")
        .products__item-title Манты #[br]из баранины
