extends /layout

block main
  include /menu-products
  .secrets 
    .secrets-item#dump-cowpig
      .secrets-item-title Пельмени с говядиной и свининой
      .container
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title Как готовить?
          .secrets-item-block-text Во время варки добавьте любые специи, например, итальянские травы. Тесто впитает ароматы пряностей и пельмени будут еще вкуснее.
          .secrets-item-block-img 
            img(src="img/secrets/img-1.png")
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title С чем есть?
          .secrets-item-block-text Хороший томатный соус отлично дополнит итальянское настроение блюда.
          .secrets-item-block-img 
            img(src="img/secrets/img-2.png")
    .secrets-item#dump-cow
      .secrets-item-title Пельмени с говядиной
      .container
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title Как готовить?
          .secrets-item-block-text Если вы часто едите пельмени, попробуйте для разнообразия их пожарить. Плотное тесто прекрасно выдержит жар сковороды. Советуем готовить пельмени на растительном масле, а за 5-7 минут до окончания приготовления добавить немного сливочного — так вкус будет насыщеннее.
          .secrets-item-block-img
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title С чем есть?
          .secrets-item-block-text Хрустящую корочку жареных пельменей и сладость начинки отлично дополнит лук. Нарежьте его полукольцами и добавьте при жарке, готовьте до золотистого припека. 
          .secrets-item-block-img 
            img(src="img/secrets/img-3.png")
    .secrets-item#manti
      .secrets-item-title Манты с бараниной
      .container
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title Как готовить?
          .secrets-item-block-text Попробуйте приготовить манты в пароварке — вы почувствуете разницу. Пар сделает их нежнее, сочнее и ароматнее, а тесто просто растает во рту. 
          .secrets-item-block-img 
            img(src="img/secrets/img-4.png")
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title С чем есть?
          .secrets-item-block-text Баранина любит чеснок и мяту. Раздавите зубчик чеснока в сметану или йогурт, порубите туда немного мяты, размешайте и дайте настояться в холодильнике, пока манты доходят в пароварке.
          .secrets-item-block-img
            img(src="img/secrets/img-5.png")
    .secrets-item#hinkali
      .secrets-item-title Хинкали с говядиной и свининой
      .container
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title Как готовить?
          .secrets-item-block-text Хинкали, как и манты, любят пар. Этот способ приготовления требует чуть больше времени, но ожидание того стоит!
          .secrets-item-block-img
            img(src="img/secrets/img-6.png")
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title С чем есть?
          .secrets-item-block-text Подайте к хинкали блюдо с грузинскими закусками, травами, специями. На большую деревянную доску насыпьте сванскую соль, разложите кинзу, зеленый лук и тархун, порезанные четвертинками свежие томаты и огурцы, дополните подачу грузинскими соусами.
          .secrets-item-block-img
    .secrets-item#cutlets
      .secrets-item-title Котлеты МЯСНЫЕ
      .container
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title Как готовить?
          .secrets-item-block-text Можно пожарить, а можно запечь с в сливочном соусе или соусе Бешамель. Такой способ приготовления сделает котлеты более сочными.
          .secrets-item-block-img
            img(src="img/secrets/img-7.png")
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title С чем есть?
          .secrets-item-block-text Чтобы сбалансировать насыщенное основное блюдо, потушите на гарнир овощи с небольшим количеством специй. Помните правило: чем больше цветов — тем больше витаминов!
          .secrets-item-block-img
    .secrets-item#meatballs
      .secrets-item-title Тефтели МЯСНЫЕ С РИСОМ
      .container
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title Как готовить?
          .secrets-item-block-text Нежные и сочные тефтели тоже любят соус. Залейте их томатным соусом и дайте как следует потомиться под крышкой на небольшом огне.
          .secrets-item-block-img
            img(src="img/secrets/img-2.png")
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title С чем есть?
          .secrets-item-block-text К такому блюду необходимы спагетти. Отварите их, щедро полейте соусом и положите сверху пару тефтелей. Щепотка пармезана и идеальный ужин готов! 
          .secrets-item-block-img
            img(src="img/secrets/img-8.png")
    .secrets-item#vareniki-curd
      .secrets-item-title ВАРЕНИКИ С ТВОРОГОМ
      .container
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title Как готовить?
          .secrets-item-block-text Добавьте немного ванили при варке, чтобы подчеркнуть нежный сливочный вкус начинки.
          .secrets-item-block-img
            img(src="img/secrets/img-9.png")
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title С чем есть?
          .secrets-item-block-text Вот рецепт быстрого соуса: пока вареники готовятся, порубите яблоки кубиками и потушите их на сливочном масле с небольшим количеством сахара.
          .secrets-item-block-img
            img(src="img/secrets/img-10.png")
    .secrets-item#vareniki-cherry
      .secrets-item-title ВАРЕНИКИ С ВИШНЕЙ
      .container
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title Как готовить?
          .secrets-item-block-text Неожиданно, но вкусно: пожарьте вареники на смеси сливочного и растительного масла, а за 2-3 минуты до готовности слегка присыпьте сахаром и корицей — она прекрасно дополнит вкус вишни.
          .secrets-item-block-img
            img(src="img/secrets/img-11.png")
        .secrets-item-block(data-aos="fade-in")
          .secrets-item-block-title С чем есть?
          .secrets-item-block-text Карамельная корочка и легкие нотки корицы подчеркнет нежный йогурт. Подавайте вареники ленивым утром субботы, чтобы выходные получились такими же приятными!
          .secrets-item-block-img
            img(src="img/secrets/img-12.png")

