extends /layout

block main
  include /menu-products
  .secrets 
    .secrets-item
      .secrets-item-title 
      .container
        .secrets-item-block
          .secrets-item-block-title
          .secrets-item-block-text




