extends /layout
include /header

block main
  .tobuy
    .tobuy__title Найдите нас в этих магазинах:
    .container
      .tobuy__item 
        img(src="img/tobuy/item.png")
      .tobuy__item 
        img(src="img/tobuy/item.png")
    //-  .tobuy__item 
        img(src="img/tobuy/item.png")
      .tobuy__item 
        img(src="img/tobuy/item.png")
      .tobuy__item 
        img(src="img/tobuy/item.png")
      .tobuy__item 
        img(src="img/tobuy/item.png")
      .tobuy__item 
        img(src="img/tobuy/item.png")
      .tobuy__item 
        img(src="img/tobuy/item.png")


  