include /mixins
include /input

doctype html
<!--[if lt IE 7]><html lang="ru" class="ie6 no-js" style="visibility: hidden;"><![endif]-->
<!--[if IE 7]><html lang="ru" class="ie7 no-js" style="visibility: hidden;"><![endif]-->
<!--[if IE 8]><html lang="ru" class="ie8 no-js" style="visibility: hidden;"><![endif]-->
<!--[if IE 9]><html lang="ru" class="ie9 no-js" style="visibility: hidden;"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="ru" class="no-js" style="visibility: hidden;"><![endif]-->
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="keywords", content="")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
    script(src="js/vendor.js")
    if env === 'dev'
      link(rel="stylesheet", href="css/reset.css")
      link(rel="stylesheet", href="css/layout.css")
      link(rel="stylesheet", href="css/text.css")
      each stylesheet in css
        link(rel="stylesheet", href= stylesheet)
    else
      link(rel="stylesheet", href="css/style.min.css")
    script(src="js/script.js")
    title Три товарища
  body
    .wrapper
      .container
        .topnav 
          .topnav__burger#pull
            img(src="img/burger.png")
          a.topnav__phone(data-modal="modal/modal.html" href="modal/modal.html") Обратный звонок #[br]для оптовиков
          .topnav__list 
            .topnav__list-item 
              a(href="#") Продукты
            .topnav__list-item 
              a(href="#") Преимущества
            .topnav__list-item.-active 
              a(href="#") Что внутри?
            .hidden-above-m
              .topnav__list-item 
                a(href="#") Секреты приготовления
              .topnav__list-item
                a(href="#") ГДЕ КУПИТЬ
              .topnav__list-item
                a(href="#") Контакты
          a.topnav__logo(href="/")
            img(src="img/logo.png")            
          .topnav__list.hidden-below-m 
            .topnav__list-item
              a(href="#") Секреты #[br]приготовления
            .topnav__list-item
              a(href="#") ГДЕ КУПИТЬ
            .topnav__list-item
              a(href="#") Контакты
      .content
        block main
        .footer
          .container 
            a.footer__logo(href="/")
              img(src="img/logo.png")             
            .footer__menu
              .footer__menu-item 
                a(href="#") Продукты
              .footer__menu-item 
                a(href="#") Преимущества
              .footer__menu-item 
                a(href="#") Что внутри?
              .footer__menu-item 
                a(href="#") Секреты приготовления
              .footer__menu-item 
                a(href="#") ГДЕ КУПИТЬ
              .footer__menu-item 
                a(href="#") Контакты
            .footer__info © ООО “Три товарища” 2018. Все права защищены

                  
                