.menu-products
  .container
    a.menu-products-item.-active(href="products.html") Все продукты
    a.menu-products-item(href="products-dump.html") Пельмени
    a.menu-products-item(href="products-manti.html") Манты 
    a.menu-products-item(href="products-hinkali.html") Хинкали
    a.menu-products-item(href="products-cutlets.html") Котлеты
    a.menu-products-item(href="products-vareniki.html") Вареники
    