.menu-products
  .container
    a.menu-products-item.-active(href="#") Все продукты
    a.menu-products-item(href="#") Пельмени
    a.menu-products-item(href="#") Манты 
    a.menu-products-item(href="#") Хинкали
    a.menu-products-item(href="#") Котлеты
    a.menu-products-item(href="#") Вареники
    