@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
html,
body {
  background-color: #fff;
}
html {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-text-size-adjust: none;
}
@media only screen and (min-width: 1336px) {
  html {
    font-size: 1px;
  }
}
@media only screen and (min-width: 981px) and (max-width: 1335px) {
  html {
    font-size: 0.09765625vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
  html {
    font-size: 0.130208333333333vw;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 0.3125vw;
  }
}
html.-dragged {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
html:before,
html:after {
  display: none !important;
}
body {
  font: 14px/1.571429em "Roboto", Arial, sans-serif;
  color: #353a43;
}
button {
  font-family: "Roboto", Arial, sans-serif;
}
svg {
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-property: fill, stroke, color;
  transition-property: fill, stroke, color;
}
svg:not(:root) {
  overflow: hidden;
}
svg:not(.-no-restyle) {
  fill: currentcolor;
}
svg:not(.-no-restyle) [fill] {
  fill: currentcolor;
}
svg:not(.-no-restyle) [stroke] {
  stroke: currentcolor;
}
a {
  color: $blue;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-property: color;
  transition-property: color;
}
a svg {
  -webkit-transition: none;
  transition: none;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a[href*="tel:"] {
  white-space: nowrap;
}
.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.container {
  margin: auto;
  max-width: 1446px;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}
hr {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: $bluee5;
  height: 1px;
}
hr.-bold {
  height: 6px;
  border-radius: 3px;
  background-color: $blue3e;
}
@media only screen and (max-width: 767px) {
  hr.-bold {
    margin: 0 -3px;
  }
}
img.-grayscale,
img.-grayscale-hoverable {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
img.-grayscale-hoverable {
  -webkit-transition: -webkit-filter 150ms;
  transition: -webkit-filter 150ms;
  transition: filter 150ms;
  transition: filter 150ms, -webkit-filter 150ms;
}
img.-grayscale-hoverable:hover {
  -webkit-filter: none;
          filter: none;
}
.hidden {
  display: none !important;
}
@media only screen and (max-width: 1335px) {
  .hidden-below-d {
    display: none !important;
  }
}
@media only screen and (max-width: 1200px) {
  .hidden-below-1160 {
    display: none !important;
  }
}
@media only screen and (min-width: 1336px) {
  .hidden-above-d {
    display: none !important;
  }
}
@media only screen and (max-width: 980px) {
  .hidden-below-t {
    display: none !important;
  }
}
@media only screen and (max-width: 830px) {
  .hidden-below-830 {
    display: none !important;
  }
}
@media only screen and (min-width: 981px) {
  .hidden-above-t {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hidden-below-m {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .hidden-above-m {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
  .hidden-between-m-t {
    display: none !important;
  }
}
@media only screen and (min-width: 601px) {
  .hidden-above-600 {
    display: none !important;
  }
}
@media only screen and (max-width: 600px) {
  .hidden-below-600 {
    display: none !important;
  }
}
@media only screen and (min-width: 321px) {
  .hidden-above-320 {
    display: none !important;
  }
}
@media only screen and (max-width: 320px) {
  .hidden-below-320 {
    display: none !important;
  }
}
.nobr {
  white-space: nowrap;
}
.text-warning {
  color: $redf4;
}
.js-tooltip {
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
html.no-mobile .js-tooltip {
  cursor: help;
}
html.mobile .js-tooltip {
  cursor: pointer;
}
.new-site-hidden {
  display: none !important;
}
