.footer
  color $black
  box-sizing border-box
  background url('../img/blackline.png')
  background-position center 
  +a($m)
    padding-bottom 65px
    padding-top 125px
  +b($m)
    padding-bottom 16px
    padding-top 62px
  &:after
    content ''
    width 100%
    clear both
    display block
    float none
    height 0px
    position relative
  a 
    &:hover
      text-decoration none
  &__logo
    display block
    margin 0 auto
    +a($m)
      max-width 218px  
    +b($m)
      max-width 146px  
    img 
      width 100%
  &__menu
    text-align center   
    +btw($m, $t)
      display flex
      justify-content space-around     
    +a($m)    
      margin-top 40px 
    +b($m)
      margin-top 35px 
    &-item
      color $black
      vertical-align top 
      text-transform uppercase
      +a($t)
        padding 0 20px
      +a($m)
        display inline-block
        font-size 19px
        line-height 20px
      +b($m)
        display block
        font-size 13px
        line-height 21px
      a 
        color #ffffff        
        &:hover
          color $green     
  &__info
    display block
    text-align center
    color #ffffff    
    +a($m)
      font-size 17px
      line-height 18px
      margin-top 110px
    +b($m)
      font-size 12px
      line-height 12px
      margin-top 22px
          
