.modal
  background $black
  text-align left
  transition 0.35s ease-in-out
  position relative
  line-height 0
  font-size 0  
  overflow hidden
  max-width 665px
  display block
  +a($m)
    padding 32px 52px
    box-shadow -4px 4px 4px 0 rgba(32, 32, 32, .33)
  +b($m)
    padding 26px 19px 24px
    box-shadow 0px 2px 2px 0 rgba(32, 32, 32, .33)
  &__title 
    color $green
    text-transform uppercase
    text-align center
    margin-bottom 20px    
    +a($m)      
      font-size 23px
      line-height 34px  
    +b($m)
      font-size 28px
      line-height 41px  
  &__text
    color #b8bcc3   
    +a($m)    
      font-size 19px
      line-height 25px 
    +b($m)
      font-size 17px
      line-height 20px 
  form 
    line-height 0
    font-size 0  
  &__form-input    
    +a($m)
      width 51%
      display inline-block
      & + &
        width calc(49% - 25px)
        margin-left 25px 
    +b($m)
      display block
  &__form-button
    display inline-block
    float right
    cursor pointer
    background none
    color $green
    border-bottom 1px solid $green 
    margin-left 31px  
    +a($m)    
      margin-top 25px
      line-height 20px
      font-size 19px
    +b($m)   
      margin-top 20px
      line-height 18px
      font-size 17px
    & + &
      color #cdcdcd
      border-color #cdcdcd      
    &:hover
      border none
  &__message
    color #fff
    font-size 20px
    text-align center
    line-height 24px
    font-weight bold
    padding 72px
    margin 0 auto
    img 
      width 100px
      margin-top 40px

      