.secrets
  position relative
  overflow hidden
  &__top
    background url('../img/insaid/topbg.jpg') 
    background-size cover
    text-align right
    font-size 0
    line-height 0    
    max-height 970px
    box-sizing border-box    
    position relative
    &:after
      content ''
      display table 
      clear both
    +density(2)
      background-image url('../img/insaid/topbg@2x.jpg') 