.secrets
  position relative
  overflow hidden
  &-item
    background-image url('../img/secrets/dump-cowpig.jpg') 
    background-size cover
    background-position center
    box-sizing border-box  
    font-size 0
    line-height 0 
    text-align center
    +a($m)
      height 731px
    +b($m)
      height 656px
    &:after
      content ''
      display table 
      clear both
    +density(2)
      background-image url('../img/secrets/dump-cowpig@2x.jpg')
    &-title
      background rgba(255, 255, 255, .6)
      color #1e1613
      text-transform uppercase
      font-weight 700
      white-space nowrap
      +a($m)
        font-size 37.5px
        line-height 97px
        height 97px
      +b($m)
        font-size 22px
        line-height 66px
        height 66px
        letter-spacing -0.6px
    &-block
      background-image url('../img/secrets/list-l.png')
      vertical-align top
      color #1e1613
      box-sizing border-box
      text-align left
      position relative
      background-size cover
      +a($t)
        margin-right 76px
        width 415px
        height 476px
        padding 101px 73px 0px 63px
      +btw($m, $t)   
        width 365px  
        height 419px 
        padding 88px 41px 0px 53px
      +a($m)
        display inline-block
        margin-top 71px
      +b($m)
        display block
        margin 0 auto
        margin-top 2px 
        width 293px  
        height 262px 
        padding 80px 37px 0px 26px
      &:last-child
        background-image url('../img/secrets/list-r.png')
        margin-right 0
        +a($t)
          width 407px   
          height 476px
          padding 112px 53px 0px 69px
        +btw($m, $t)   
          width 357px  
          height 430px  
          padding 98px 41px 0px 53px
        +a($m)     
          margin-top 60px
        +b($m)
          margin 0 auto
          margin-top 17px
          width 291px  
          height 255px  
          padding 85px 35px 0px
        .secrets-item-block-text
          max-width 285px
      &-title
        font-family 'Bad Script', Arial, sans-serif
        letter-spacing -1.6px
        word-spacing 5px
        transform scaleX(1.2)  
        +a($t) 
          margin-bottom 18px
        +btw($m, $t) 
          margin-bottom 5px
        +a($m)
          font-size 37.5px
          line-height 40px  
          max-width 233px      
          margin-left 25px
        +b($m)
          margin-bottom 10px
          font-size 25px
          line-height 28px  
          max-width 221px      
          margin-left 22px
      &-text
        max-width 279px
        +a($t) 
          font-size 25px
          line-height 29px
        +btw($m, $t)
          font-size 23px
          line-height 25px
        +b($m)
          font-size 17px
          line-height 18px  
      &-img
        position absolute
        +a($t)
          bottom 50px
          right 50px
        +btw($m, $t)
          bottom 25px
          right 25px
        +b($m)
          top 30px
          right 15px
          transform scale(0.6)
          img 
            width 100%
    &#dump-cowpig
      background-image url('../img/secrets/dump-cowpig.jpg')
      +density(2)
        background-image url('../img/secrets/dump-cowpig@2x.jpg')
      +b($m)
        .secrets-item-block:first-child
          .secrets-item-block-img
            top 8px
            right 0px
    &#dump-cow
      background-image url('../img/secrets/dump-cow.jpg')
      +density(2)
        background-image url('../img/secrets/dump-cow@2x.jpg')
      .secrets-item-block:first-child
        +a($m)
          padding 74px 48px 0px
        +b($m)
          padding 65px 29px 0px
          .secrets-item-block-title
            margin-bottom 0
        .secrets-item-block-text
          max-width 319px
      +b($m)
        .secrets-item-block
          .secrets-item-block-img
            top 60px
            right 15px
    &#manti
      background-image url('../img/secrets/manti.jpg')
      +density(2)
        background-image url('../img/secrets/manti@2x.jpg')
      +b($m)
        .secrets-item-block:last-child          
          .secrets-item-block-img
            top 49px
            right 26px
    &#hinkali
      background-image url('../img/secrets/hinkali.jpg')
      +density(2)
        background-image url('../img/secrets/hinkali@2x.jpg')
      .secrets-item-block:last-child
        +a($t)
          padding 100px 53px 0px 69px
        +btw($m, $t)
          padding 98px 41px 0px 53px
        +b($m)
          padding 75px 29px 0px
          .secrets-item-block-title
            margin-bottom 0
        .secrets-item-block-text
          max-width 319px
    &#cutlets
      background-image url('../img/secrets/cutlets.jpg')
      +density(2)
        background-image url('../img/secrets/cutlets@2x.jpg')
    &#meatballs
      background-image url('../img/secrets/meatballs.jpg')
      +density(2)
        background-image url('../img/secrets/meatballs@2x.jpg')
    &#vareniki-curd
      background-image url('../img/secrets/vareniki-curd.jpg')
      +density(2)
        background-image url('../img/secrets/vareniki-curd@2x.jpg')
    &#vareniki-cherry
      background-image url('../img/secrets/vareniki-cherry.jpg')
      +density(2)
        background-image url('../img/secrets/vareniki-cherry@2x.jpg')
    
      