@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Thin'), local('Akrobat-Thin'), url('../fonts/Akrobatthin.woff2') format('woff2'), url('../fonts/Akrobatthin.woff') format('woff'), url('../fonts/Akrobatthin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat ExtraLight'), local('Akrobat-ExtraLight'), url('../fonts/Akrobatextralight.woff2') format('woff2'), url('../fonts/Akrobatextralight.woff') format('woff'), url('../fonts/Akrobatextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Light'), local('Akrobat-Light'), url('../fonts/Akrobatlight.woff2') format('woff2'), url('../fonts/Akrobatlight.woff') format('woff'), url('../fonts/Akrobatlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat'), local('Akrobat-Regular'), url('../fonts/Akrobat.woff2') format('woff2'), url('../fonts/Akrobat.woff') format('woff'), url('../fonts/Akrobat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat SemiBold'), local('Akrobat-SemiBold'), url('../fonts/Akrobatsemibold.woff2') format('woff2'), url('../fonts/Akrobatsemibold.woff') format('woff'), url('../fonts/Akrobatsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Bold'), local('Akrobat-Bold'), url('../fonts/Akrobatbold.woff2') format('woff2'), url('../fonts/Akrobatbold.woff') format('woff'), url('../fonts/Akrobatbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'), url('../fonts/Akrobatextrabold.woff2') format('woff2'), url('../fonts/Akrobatextrabold.woff') format('woff'), url('../fonts/Akrobatextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Black'), local('Akrobat-Black'), url('../fonts/Akrobatblack.woff2') format('woff2'), url('../fonts/Akrobatblack.woff') format('woff'), url('../fonts/Akrobatblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Bad Script';
    src: local('Bad Script Regular'), local('BadScript-Regular'), url('../fonts/Badscriptregular.woff2') format('woff2'), url('../fonts/Badscriptregular.woff') format('woff'), url('../fonts/Badscriptregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html,
body
  background-color #0d0d0d
  
html
  touch-action: manipulation
  visibility visible !important
  opacity 1 !important
  -webkit-text-size-adjust none
  +a($d)
    font-size 1px
  +btw($t, $d)
    font-size (100 / 1024)vw
  +btw($m, $t)
    font-size (100 / 768)vw
  +b($m)
    font-size (100 / 320)vw  
  &.-dragged
    user-select none
    pointer-events none
  &:before,
  &:after
    display none !important

body
  font 14px/1.571429em 'Akrobat', Arial, sans-serif
  color #ffffff
  
button, input, textarea
  font-family 'Akrobat', Arial, sans-serif
    
svg
  transition-duration $speed
  transition-property fill, stroke, color
  &:not(:root)
    overflow hidden

svg:not(.-no-restyle)
  fill currentcolor 
  [fill]
    fill currentcolor
  [stroke]
    stroke currentcolor
  
a
  color #c3d82e
  transition-duration $speed
  transition-property color  
  svg
    transition none
  &:link
    text-decoration none
  &:hover
    text-decoration underline
  &:visited
    text-decoration none
  &:active
    text-decoration none
  &[href*="tel:"]
    white-space nowrap

.wrapper
  width 100% 
  //overflow hidden
  position relative
  
.container
  margin auto
  max-width 1284px
  position relative
  +a($d)
    width 100%
  +btw($t, $d)
    width 93.75%
  +btw($m, $t)
    width 94.010417%  
  +b($m)
    width 100%
    
    
hr
  display block
  padding 0
  margin 0
  border none
  background-color $bluee5
  height 1px  
  &.-bold
    height 6px
    border-radius 3px
    background-color $blue3e 
    +b($m)
      margin 0 -3px 
      
img
  &.-grayscale,
  &.-grayscale-hoverable
    filter grayscale(100%)
  &.-grayscale-hoverable
    transition filter $speed
    &:hover
      filter none

.hidden
  display none !important
.hidden-below-d
  +b($d)
    display none !important
.hidden-below-1160
  +b(1200px)
    display none !important
.hidden-above-d
  +a($d)
    display none !important
.hidden-below-t
  +b($t)
    display none !important
.hidden-below-830
  +b(830px)
    display none !important
.hidden-above-t
  +a($t)
    display none !important
.hidden-below-m
  +b($m)
    display none !important
.hidden-above-m
  +a($m)
    display none !important
.hidden-between-m-t
  +btw($m, $t)
    display none !important
.hidden-above-600
  +a(600px)
    display none !important
.hidden-below-600
  +b(600px)
    display none !important
.hidden-above-320
  +a(320px)
    display none !important
.hidden-below-320
  +b(320px)
    display none !important
    
.nobr
  white-space nowrap
  
.text-warning
  color $redf4 
  
.js-tooltip
  display inline-block
  font-size 0
  line-height 0
  html.no-mobile &
    cursor help
  html.mobile &
    cursor pointer
.new-site-hidden
  display none !important
