// colors


$black = #353a43
$gray = #c0bfc5
$purple = #6841f2
 
// transitions

$speed = 150ms

// adaptive

$d = 1335px
$t = 1023px
$m = 767px

// keyframes

@keyframes spin
  from
    transform rotate(0deg)
  to
    transform rotate(360deg) 
